.places {
	display: flex;
	/* places on top, articles on the bottom */
	flex-direction: column; 
}

.places h1 {
	margin-top: 20px;
	margin-bottom: 0px;
	font-size: 30px;
}

.places article {
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: 1px solid #FF5A5F;
	border-radius: 4px;
}

.places article h2 {
	font-size: 30px;
	text-align: center;
	margin: 2px;
}

.article-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center; /* center the lone 'A suite'*/
}

